<div id="AddOrganismsArea">
  <div id="AddOrganismImageLoader" class="box">
    <p class="add_button"><%= fa_icon('plus') %></p>
    <%= image_tag('image_loader.gif', class: 'loader') %>
  </div>
  <div id="OrganismsArea">
    <% @organisms.each do |organism| %>
      <div class="box organism_box" data-image-url="<%= organism_path(organism, format: organism.extension) %>">
        <%= organism_image_tag(organism, 'data-micromotion-degree' => organism.micromotion_degree,
          'data-step-length' => organism.step_length, 'data-multiplication-speed' => organism.multiplication_speed) %>
      </div>
    <% end %>
  </div>
  <p id="ToggleAddOrganismsArea"><%= fa_icon('angle-down') %></p>
  <p id="ResetGrowthSpace">リセット</p>
  <%= form_tag '' do %>
    <%= file_field_tag 'uploaded_image', style: 'display: none; position: absolute;
      top: -500000px; left: -500000px;' %>
  <% end %>
</div>
<div id="GrowthSpace">
  <%= image_tag('euglena.png', class: 'organism origin', style: '', 'data-micromotion-degree' => '90',
    'data-step-length' => '50', 'data-multiplication-speed' => '5') %>
</div>