<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "shared/tracking" if Rails.env.production? %>
  
  <meta name="keywords" content="Euglena,ユーグレナ,ミドリムシ,増殖,アプリ,楽しい" />
  <meta name="description" content="Euglenaはミドリムシを始め、自分でアップロードした生物を楽しく増殖させることができるwebアプリです。" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="生き物の増え方を体験する　- Euglena" />
  <meta property="og:description" content="Euglenaはミドリムシを始め、自分でアップロードした生物を楽しく増殖させることができるwebアプリです。" />
  <meta property="og:image" content=""/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="Euglena"/>
</head>
<body>
  <%= render "shared/header" %>
  <div id="container">
    <%= flash_messages %>
    <%= yield %>
  </div>
  <%= render 'shared/footer'%>
</body>
</html>
